### Intellij ###
# Default ignored files
.idea/shelf/
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests/
# Datasource local storage ignored files
.idea/dataSources/
.idea/dataSources.local.xml

# build dir
/build

# exclude private.env files
**/*.private.env

# models dir
/models

# s3 sync dir, for syncing files between local storage and network volume
/s3-storage

### Python ###
# python cache
__pycache__/
# python compiler out
out/
